



     <div class="container">

        <div class="p-5 mb-4 bg-light box-shadow-hover rounded text-justify">

             <h3 class="font-weight-bold text-center rounded ">QUI SOMMES-NOUS ?</h3>

            <br>
            <p class="fs-5 fw-light lh-4">
                L’ Agence nationale de l’Aménagement du Territoire, en abrégé ANAT, est créée le 20 Novembre 2009 par décret Présidentiel n°2009-1302 du 20-11-091 et est dotée d'une autonomie de gestion et, est investie d'une mission de service public.
                <br>
                <br>
                L'Agence est une personne morale de droit public, bénéficiant du concours financier du pouvoir public qui se substitue à la Direction de l'aménagement du territoire. Elle exerce les attributions anciennement dévolues à la Direction des travaux géographiques et cartographiques et à l'Agence nationale du Cadre de Vie et de la Qualité de la consommation. Elle a son siège à Dakar et est placée sous la tutelle technique du Ministre chargé de l'Aménagement du Territoire et celle financière du Ministre chargé des finances.

                </p>

        </div>


      </div>










