



     <div class="container">

        <div class="p-5 mb-4 bg-light box-shadow-hover rounded text-justify">

            <h3 class="font-weight-bold text-center rounded ">MISSIONS DE L'ANAT</h3>
            <img class="rounded-circle mx-auto d-block w-25" src="./assets/img/presentation/logo_corrige.jpg" alt="DGANAT">
            <br>
            <p style="font-size: 1.5em; text-align: left;">L&#39;Agence nationale de l&#39;Am&eacute;nagement du Territoire a pour mission&nbsp;:</p>

            <ul>
                <li>
                <p style="font-size: 1.5em; text-align: left;">de promouvoir et de mettre en &oelig;uvre la politique gouvernementale en mati&egrave;re d&#39;am&eacute;nagement du territoire, de travaux g&eacute;ographiques et cartographiques et d&#39;am&eacute;lioration du cadre de vie des populations.</p>
                </li>
            </ul>


            <ul>
                <li>
                <p style="font-size: 1.5em; text-align: left;">de mettre en &oelig;uvre toutes les initiatives visant la programmation des activit&eacute;s &eacute;conomiques, en tenant compte des potentialit&eacute;s naturelles et des ressources humaines de chaque r&eacute;gion, de fa&ccedil;on &agrave; r&eacute;&eacute;quilibrer l&#39;espace &eacute;conomique nationale, &agrave; freiner l&#39;exode rural, &agrave; cr&eacute;er des emplois pour les jeunes et &agrave; contribuer &agrave; &eacute;radiquer la pauvret&eacute;.</p>
                </li>
            </ul>


            <ul>
                <li>
                <p style="font-size: 1.5em; text-align: left;">de veiller &agrave; la mise en coh&eacute;rence des r&eacute;seaux d&#39;infrastructures routi&egrave;res, portuaires et a&eacute;roportuaires qui structurent l&#39;espace national et le rendent plus attractif aux investissements nationaux et internationaux ainsi qu&#39;&agrave; la coh&eacute;rence des &eacute;quipements publics pour une meilleure prise en charge des besoins des populations.</p>
                </li>
            </ul>


            <ul>
                <li>
                <p style="font-size: 1.5em; text-align: left;">de mettre en &oelig;uvre la Politique nationale d&#39;Am&eacute;nagement du Territoire.</p>
                </li>
            </ul>

            <p style="font-size: 1.5em; text-align: left;">&nbsp;</p>

            <ul>
                <li>
                <p style="font-size: 1.5em; text-align: left;">d&rsquo;assurer un d&eacute;veloppement territorial g&eacute;n&eacute;ralis&eacute; et diffus sur l&#39;ensemble du pays.</p>
                </li>
            </ul>
            <br>
            <p style="font-size: 24px; text-align: center; text-decoration: underline;">Objectif g&eacute;n&eacute;ral:</p>
            <p style="font-size: 1.5em; text-align: left;">Promouvoir une &eacute;conomie comp&eacute;titive pour am&eacute;liorer le niveau de vie des populations dans le respect de l&#39;&eacute;galit&eacute; des r&eacute;gions et de la pr&eacute;servation de l&#39;environnement.</p>

            <br>
            <p style="font-size: 24px; text-align: center; text-decoration: underline;">Objectifs sp&eacute;cifiques:</p>

            <ul>
                <li>
                <p style="font-size: 1.5em; text-align: left;">R&eacute;duire les disparit&eacute;s interr&eacute;gionales et intra r&eacute;gionales ;</p>
                </li>
                <li>
                <p style="font-size: 1.5em; text-align: left;">Promouvoir une armature hi&eacute;rarchis&eacute;e et fonctionnelle des &eacute;tablissements humains ;</p>
                </li>
                <li>
                <p style="font-size: 1.5em; text-align: left;">Contribuer &agrave; la construction de l&#39;int&eacute;gration ouest africaine et r&eacute;gionale ;</p>
                </li>
                <li>
                <p style="font-size: 1.5em; text-align: left;">Contribuer &agrave; la strat&eacute;gie de la croissance acc&eacute;l&eacute;r&eacute;e par une bonne politique d&#39;am&eacute;nagement du territoire.</p>
                </li>
            </ul>

        </div>


      </div>










