    
    
    
    
     <div class="container">
        
        <div class="p-2 mb-4 bg-light box-shadow-hover rounded text-justify">
            
            <h3 class="font-weight-bold text-center text-success rounded ">LES RESSOURCES</h3>
            <img class="rounded mx-auto d-block w-100" src="./assets/img/territoires/ressources.jpg" alt="SENEGAL">
            <br>


            
                De 3 millions d'habitants en 1960, la population du Sénégal est passée à environ 12,5 millions d'habitants en 2010 (SNDES 2013-2017). Le croât démographique qui tourne autour de 2,6% a une forte pression sur les ressources naturelles du pays.  
                <br>
                Sur la base des critères géomorphologue, pédologue et aptitudes des sols, hydrographique et densité d'utilisation du sol, les 6 zones éco-géographiques du pays présentent des ressources et potentialités variées Des solutions durables doivent êtres envisagées dans le cadre de l'aménagement du territoire et du développement territorial pour permettre une gestion rationnelle et efficace susceptible d'inverser la tendance de dégradation des écosystèmes. Il s'agit de s'attaquer en particulier aux grandes questions dominant la problématique territoriale : 
                <br> <br>
                <ul class="list-styled">
                <li>L'exploitation rationnelle des ressources (minières, hydriques, halieutiques, végétales et pédologiques etc.) là où elles se trouvent ;</li>
                    <li>La création d'opportunités pour les populations, ce défi semble demeurer très important pour les secteurs de l'agriculture, de la foresterie, de l'élevage et de la pêche, etc. </li>
                        <li>Le traitement des zones sensibles et la réalisation d'outils de planification pour les zones spécifiques d'aménagement en particulier le littoral sud, le lacs de guiers, les âles de saloum, etc.) et le triangle Dakar Thiès Mbour et les autres zones à fort potentiel de développement.</li>
                            <li>L'adaptation aux changements climatiques constitue un nouveau défi majeur avec, notamment, le développement des phénomènes tels que les inondations, l'érosion côtière et la salinisation des terres.</li>
                </ul>
           

                
                    
                <div id="accordion">
                    <div class="card border border-0  w-75 mx-auto">
                      <div class="card-body">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                            LA ZONE SYLVO PASTORALE
                        </a>
                      </div>
                      <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            la zone sylvo pastorale communément appelée ferlo qui est à cheval sur une partie des régions de Saint louis et de Louga a pour principale activité l'élevage extensif.
                        </div>
                      </div>
                    </div>
                    <div class="card border border-0  w-75 mx-auto">
                      <div class="card-body bg-basic">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                            LE BASSIN ARACHIDIER
                      </a>
                      </div>
                      <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Le domaine agricole du Centre Ouest correspond au bassin arachidier où domine la culture de l'arachide pratiquée dans les régions Diourbel, Fatick, Kaolack et une partie des régions de Louga, Thiès et de Tambacounda. Elle présente de fortes potentialités liées à l'exploitation du sel
                        </div>
                      </div>
                    </div>
                    <div class="card border border-0  w-75 mx-auto">
                      <div class="card-body">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                            LES FORMATIONS FORESTIERES
                        </a>
                      </div>
                      <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            la zone sylvo pastorale communément appelée ferlo qui est à cheval sur une partie des régions de Saint louis et de Louga a pour principale activité l'élevage extensif.
                        </div>
                      </div>
                    </div>
                    <div class="card border border-0  w-75 mx-auto">
                        <div class="card-body">
                          <a class="collapsed card-link" data-toggle="collapse" href="#collapse4">
                            VALLEE DU FLEUVE SENEGAL
                          </a>
                        </div>
                        <div id="collapse4" class="collapse" data-parent="#accordion">
                          <div class="card-body">
                            La vallée du Fleuve Sénégal qui s'étend du delta au sud de Bakel est pour l'essentiel la zone de l'agriculture irriguée suite à la construction des barrages de Diama et Manantali.
                          </div>
                        </div>
                      </div>
                      <div class="card border border-0  w-75 mx-auto">
                        <div class="card-body">
                          <a class="collapsed card-link" data-toggle="collapse" href="#collapse5">
                            LES NIAYES
                          </a>
                        </div>
                        <div id="collapse5" class="collapse" data-parent="#accordion">
                          <div class="card-body">
                            La Grande Côte ou les niayes correspondant à la bande du littoral nord à cheval sur quatre (4) régions administratives est caractérisée par la prédominance de dépressions interdunaires et l'affleurement de la nappe phréatique qui favorisent les cultures maraâchères. Elle présente de fortes potentialités halieutiques ainsi que des ressources minières telles que le sable titanifère.
                          </div>
                        </div>
                      </div>
                      <div class="card border border-0  w-75 mx-auto">
                        <div class="card-body">
                          <a class="collapsed card-link" data-toggle="collapse" href="#collapse6">
                            LA REGION DU SOCLE
                          </a>
                        </div>
                        <div id="collapse6" class="collapse" data-parent="#accordion">
                          <div class="card-body">
                            La région du socle correspondant pour l'essentiel à la région de Kédougou et de Tambacounda recèle d'énormes potentialités minières (or, marbre, fer, etc.).
                          </div>
                        </div>
                      </div>


                  </div>
                    
               
           

            
        </div> 


  
    </div>


   
    
    
    
    
    
    
