



     <div class="container">

        <div class="p-5 mb-4 bg-light box-shadow-hover rounded text-justify">

            <h3 class="font-weight-bold text-center rounded">MOT DU DIRECTEUR: Mr Mamadou DJIGO</h3>
            <img class="rounded-circle mx-auto d-block w-25" src="./assets/img/presentation/dganat.jpg" alt="DGANAT">
            <br>
            <p class="fs-5 fw-light lh-4">
            Créée par décret № 2009-1302 du 20 novembre 2009, l'Agence nationale de l'Aménagement du Territoire (ANAT) qui se substitue à l'ancienne Direction de l'Aménagement du Territoire (DAT), a vu son positionnement précisé et ses missions définies et élargies. C'est ainsi que, dans un souci de cohérence et d'efficacité, les attributions précédemment dévolues à la Direction des Travaux géographiques et cartographiques et à l'Agence nationale du Cadre de Vie et de la Qualité de la Consommation sont transférées à l'ANAT.

            L'ANAT qui a pour missions de promouvoir et de mettre en œuvre la politique du Gouvernement en matière d'aménagement du territoire et de travaux géographiques et cartographiques, apporte une réponse originale à la nécessité de mieux coordonner les politiques d'organisation et de développement territorial dans les espaces urbains et ruraux. Elle cherche à transformer les contraintes en atouts en offrant notamment à tous les acteurs du territoire national un outil de mise en cohérence de leurs projets.
            <br>
            L'Aménagement du Territoire, politique cohérente, transversale et très habile d'organisation de l'espace, constitue un ensemble de dispositifs, de techniques, d'actions et d'interventions qui visent à assurer une répartition adéquate de la population, des constructions, des activités économiques et des équipements et infrastructures, tout en tenant compte des contraintes naturelles et anthropiques à leur établissement ; il touche presque toutes les facettes de la vie.
            <br>
            <br>
            L'Aménagement du Territoire permet de déterminer où l'on construira des maisons et des usines, des routes et des rails, des ports et des aéroports, des barrages et des centrales électriques, où l'on aménagera des terrains de loisirs et des écoles et où seront offerts les services essentiels de la collectivité comme les hôpitaux, les écoles...
            <br>
            L'Aménagement du Territoire consiste à exploiter judicieusement nos terres et nos richesses naturelles. Il permet à chaque pays, chaque région ou chaque commune de se fixer des objectifs quant à la façon dont il veut se développer et de trouver des moyens de réaliser ces objectifs, tout en tenant compte des importantes considérations sociales, économiques et environnementales. C'est le levier du Développement Territorial.
            <br>
            Le Développement Territorial est un processus qualitatif et prospectif de transformation des structures économiques, démographiques, sociales, culturelles, environnementales, éducatives... d'un territoire ; donc, il est par nature transversal et décloisonné. Il regroupe, croise et associe diverses compétences sectorielles, divers types d'acteurs et divers outils techniques.
            <br>
            Le déséquilibre du territoire national, la récurrence des inondations, l'inégale répartition de la population, l'exode rural massif vers les centres urbains, les déserts médicaux, les zones blanches et l'étalement urbain anarchique nourrissent une demande très forte d'organisation raisonnable de nos territoires. Une grande prise de conscience d'une réorientation d'un mode d'occupation, d'organisation, de production et de consommation aveugle s'impose face à l'augmentation des risques qui menacent notre pays, nos villes et nos villages.
            <br>
            <br>
            En même temps, les impératifs de rationalisation, d'efficience et d'efficacité obligent à se libérer des modèles sectoriels, devenus inefficaces. Il s'agit d'aménager et de développer un modèle systémique capable de générer un développement socio-économique équilibré de nos territoires, tout en respectant l'environnement et en améliorant la qualité de vie des populations et notamment les couches les plus vulnérables. C'est-à-dire un Aménagement du Territoire qui apporte aux sénégalais plus d'emplois, plus de santé, plus de formation, plus de sécurité, plus d'accessibilité aux services sociaux de base...
            <br>
            Consciente de son rôle moteur dans la mise en œuvre de la territorialisation des politiques publiques, suivant la vision du chef de l'Etat, l'ANAT compte s'appuyer sur l'ensemble des acteurs publics et privés pour relever les défis de l'Aménagement du Territoire de notre pays. Dans ce cadre, l'ANAT adopte une démarche stratégique de partenariat, de mutualisation et de décloisonnement pour mettre en place des instruments utiles et efficaces pour un développement harmonieux de nos territoires.
            </p>

        </div>


      </div>










