<div class="container bg-dark pt-4 text-center">

  <div class="row pt-2 pb-0">
    <div class="col-12 mb-4">
      <div class="card card-cascade" style="background-color: #868885;">
        <div class="card-img">
          <img class="img-fluid card-img-top" src="./assets/img/envitrine/crd_pnadt.jpg" alt="Card image cap">
        </div>
        <div class="card-body pt-0">
          <h4 class="h6 card-title">
            <div class="row">
              <div class="col-1 mx-auto">|</div>
              <div class="col-2">
                <a target="_blank" href="http://anat.sn/pnadt/PNADT-LOADT.pdf">
                  <img src="./assets/img/envitrine/doc.png" alt="..." class="img-fluid" style="width: 36px;">
                </a>
                <p style="font-weight: bold;">LOADT.pdf</p>
              </div>
              <div class="col-2">
                <a target="_blank" href="http://anat.sn/pnadt/PNADT-Atlas.pdf">
                  <img src="./assets/img/envitrine/doc.png" alt="..." class="img-fluid" style="width: 36px;">
                </a>
                <p style="font-weight: bold;">PNADT-Atlas.pdf</p>
              </div>
              <div class="col-2">
                <a target="_blank" href="http://anat.sn/pnadt/PNADT-Synthese.pdf">
                  <img src="./assets/img/envitrine/doc.png" alt="..." class="img-fluid" style="width: 36px;">
                </a>
                <p style="font-weight: bold;">PNADT-Synthese.pdf</p>
              </div>
              <div class="col-2">
                <a target="_blank" href="http://anat.sn/pnadt/PNADT-Rapport.pdf">
                  <img src="./assets/img/envitrine/doc.png" alt="..." class="img-fluid" style="width: 36px;">
                </a>
                <p style="font-weight: bold;">PNADT-Rapport.pdf</p>
              </div>
              <div class="col-2 ">
                <button type="button" class="btn" data-toggle="modal" data-target="#vulg_pnadt_3">
                  <img src="./assets/img/envitrine/live.gif" alt="..." class="img-fluid" style="width: 64px;">
                  <p style="font-weight: bold;">FORUM</p>
                </button>
              </div>
              <div class="col-1 mx-auto">|</div>


            </div>
          </h4>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top border border-muted">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="accueil">
      <img class="img-fluid rounded"
          style="width:120px;position:absolute;top:0;left:auto;z-index:1000000000"
          src="./assets/img/presentation/logo_corrige.jpg" alt="anat_logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/accueil'" routerLinkActive="active">
            <fa-icon [icon]="faHome" [styles]="{'stroke': 'red', 'color': '#91e4914d'}"></fa-icon>Accueil
            <!-- <span class="sr-only">(current)</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/presentation'" routerLinkActive="active">
            <fa-icon [icon]="faInfoCircle" [styles]="{'stroke': 'red', 'color': '#91e4914d'}"></fa-icon>ANAT
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/actualites'" routerLinkActive="active">
            <fa-icon [icon]="faInfoCircle" [styles]="{'stroke': 'red', 'color': '#91e4914d'}"></fa-icon>Actualités
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/territoires'" routerLinkActive="active">
            <fa-icon [icon]="faFlag" [styles]="{'stroke': 'red', 'color': '#91e4914d'}"></fa-icon>Les territoires
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/realisations'" routerLinkActive="active">
            <fa-icon [icon]="faCheckCircle" [styles]="{'stroke': 'red', 'color': '#91e4914d'}"></fa-icon>Réalisations
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/projets'" routerLinkActive="active">
            <fa-icon [icon]="faProjectDiagram" [styles]="{'stroke': 'red', 'color': '#91e4914d'}"></fa-icon>Projets
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/produitsetservices'" routerLinkActive="active">
            <fa-icon [icon]="faInfoCircle" [styles]="{'stroke': 'red', 'color': '#91e4914d'}"></fa-icon>Produits&Services
          </a>
        </li>
        
  
        <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href='#' id="navbardrop" data-toggle="dropdown">
        +Plus
      </a>
      <div class="dropdown-menu text-white-50 bg-secondary">
              <a class="dropdown-item" [routerLink]="'/outils'" routerLinkActive="active">
                <fa-icon [icon]="faTools" [styles]="{'stroke': 'red', 'color': '#91e4914d'}"></fa-icon>Outils
              </a>
              <a class="dropdown-item" [routerLink]="'/partenaires'" routerLinkActive="active">
                <fa-icon [icon]="faInfoCircle" [styles]="{'stroke': 'red', 'color': '#91e4914d'}"></fa-icon>Partenaires
              </a>
              <a class="dropdown-item" [routerLink]="'/medias'" routerLinkActive="active">
                <fa-icon [icon]="faInfoCircle" [styles]="{'stroke': 'red', 'color': '#91e4914d'}"></fa-icon>Medias
              </a>
              <a class="dropdown-item" [routerLink]="'/contact'" routerLinkActive="active">
                <fa-icon [icon]="faAddressCard" [styles]="{'stroke': 'red', 'color': '#91e4914d'}"></fa-icon>Contact
              </a>
      </div>
    </li>

      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">

  <div class="row mt-1">
    <div class="btn-group btn-group-sm btn-group-justified" role="group" aria-label="Group SIG...">
      <a href="#" class="btn btn-light text-danger font-weight-bold">
        <fa-icon [icon]="famap" [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon> SIG EN LIGNE:</a>
        <a target="_blank" href="http://cartenationale.gouv.sn/" class="btn btn-light" type="button">|  cartenationale.gouv.sn</a>
        <a target="_blank" href="http://www.vigeosn.gouv.sn/" class="btn btn-light" type="button">|  vigeosn.gouv.sn</a>
        <a target="_blank" href="https://geosenegal.sec.gouv.sn/" class="btn btn-light" type="button">|  geosenegal.sec.gouv.sn</a>
        <a target="_blank" href="https://www.sec.gouv.sn/donn%C3%A9es-g%C3%A9ographiques-et-cartographiques"
           class="btn btn-light" type="button">|  sec.gouv.sn</a>

    </div>
  </div>


  <div class="row mt-1">

 
    <!-- /.col-lg-3 -->

    <div class="col-lg-9 shadow-sm">
      <h3 class="my-1"></h3>
      <router-outlet></router-outlet>
      <!-- https://www.techiediaries.com/routing-angular-router/ -->

    </div>
    <!-- /.col-lg-9 -->

    <div class="col-lg-3 shadow-sm">
      <h3 class="my-2"></h3>
 
        <div class="card">
          <div class="card-header">
            Le DG Mr Mamadou DJIGO
          </div>
          
          <div class="card-body">
            <img class="card-img-top w-90" src="./assets/img/presentation/dganat.jpg" alt="DG ANAT">
          </div>

          <div class="card-footer">
            <h4 class="card-title text-center">
              <a [routerLink]="'/presentation'" routerLinkActive="active">
                Mot du DG  <fa-icon [icon]="fapenalt" [styles]="{'stroke': 'red', 'color': ''}"></fa-icon> 
              </a>
            </h4>
          </div>
        </div>

        <div class="card mt-2">
          <div class="card-header">
            FORUM: Vulgarisation du PNADT 
          </div>
          
          <div class="card-body">
            <div class="col-12 ">
              <button type="button" class="btn btn-block" data-toggle="modal" data-target="#vulg_pnadt_3">
                <img src="./assets/img/envitrine/live.gif" alt="..." class="img-fluid" style="width: 64px;">
                <p style="font-weight: bold;">FORUM</p>
              </button>
            </div>
          </div>
        </div>

                      <!-- The Modal -->
                      <div class="modal fade" id="vulg_pnadt_3">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
        
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">FORUM</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
        
                            <!-- Modal body -->
                            <div class="modal-body">
                              <div class="embed-responsive embed-responsive-16by9 mx-auto">
                                <iframe width="100%" height="450" class="embed-responsive-item"
                                  src="https://www.youtube.com/embed/videoseries?list=PLQjNVx8Nv7w9WbDO55r0MctKO9J-39W01"
                                  frameborder="0" allowfullscreen></iframe>
                              </div>
                            </div>
        
                          </div>
                        </div>
                      </div>

        <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
        <button mat-raised-button>mat-raised-button</button>
        
    
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<!-- <footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p>
  </div>
  
  
  < Footer -->
<footer class="page-footer font-small text-muted pt-4 bg-dark">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3 ">

        <!-- Links -->
        <h5 class="text-uppercase">PRESENTATION</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="#!" routerLinkActive="active">
              <fa-icon [icon]="faHome" [styles]="{'stroke': 'red', 'color': ''}"></fa-icon>Accueil</a>
          </li>
          <li>
            <a routerLink="#!" routerLinkActive="active">Le Directeur général</a>
          </li>
          <li>
            <a routerLink="#!" routerLinkActive="active">Qui somme-nous ?</a>
          </li>
          <li>
            <a routerLink="#!" routerLinkActive="active">Nos missions</a>
          </li>
          <li>
            <a routerLink="#!" routerLinkActive="active">Organigramme</a>
          </li>
          <li>
            <a routerLink="#!" routerLinkActive="active">Contact</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">REALISATIONS</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="#!">PNADT</a>
          </li>
          <li>
            <a routerLink="#!">Schéma DTM</a>
          </li>
          <li>
            <a routerLink="#!">Cartographie</a>
          </li>
          <li>
            <a routerLink="#!">SIG</a>
          </li>
          <li>
            <a routerLink="#!">Géodésie & Topographie</a>
          </li>
          <li>
            <a routerLink="#!">Le ZIAR</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3 ">

        <!-- Links -->
        <h5 class="text-uppercase">PROJETS</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="#!">Projet 1</a>
          </li>
          <li>
            <a routerLink="#!">Projet 2</a>
          </li>
          <li>
            <a routerLink="#!">Projet 3</a>
          </li>
          <li>
            <a routerLink="#!">Projet 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

          <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3 ">

        <!-- Links -->
        <h5 class="text-uppercase">LIENS UTILES</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="#!">BASEGEO</a>
          </li>
          <li>
            <a routerLink="#!">VIGEOSN</a>
          </li>
          <li>
            <a routerLink="#!">LIEN 3</a>
          </li>
          <li>
            <a routerLink="#!">LIEN 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->


         <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3 font-weight-bold rounded text-dark" style="background-color: #868885">

       
        <h5 class="text-uppercase">CONTACT</h5>

        
          
          <p>Agence nationale de l'Aménagement du Territoire</p>
          <p><fa-icon [icon]="faroad " [styles]="{'stroke': 'red', 'color': ''}"></fa-icon> Route du Service géographique, Hann</p>
          <p ><fa-icon [icon]="faHome" [styles]="{'stroke': 'red', 'color': ''}"></fa-icon> Direction des Travaux Géographiques et de la Cartographie</p>
          <p ><fa-icon [icon]="faphone" [styles]="{'stroke': 'red', 'color': ''}"></fa-icon> Tel: 00221 33 832 15 06</p>
          <p ><fa-icon [icon]="faat" [styles]="{'stroke': 'red', 'color': ''}"></fa-icon> Email: contact@anat.sn</p>
          <p ><fa-icon [icon]="faenvelope" [styles]="{'stroke': 'red', 'color': ''}"></fa-icon> BP: 740 Dakar RP </p>
         
         
       

      </div>
      <!-- Grid column -->

        

    </div>
    <!-- Grid row #868885 -->
    
      <div class="row"  style="height:90px; background-color: #868885">
        
       
        <div class="col mx-auto d-sm-block">
          <!-- <img class="img-fluid img-thumbnail" 
          src="./assets/img/presentation/sn.png" alt="SN"> -->
        </div>
        <div class="col mx-auto"></div>

        <div class="col mx-auto btn-group">
         
       
          
  
  
            <button class="btn"><fa-icon [icon]="fatwitter" [styles]="{'stroke': 'red', 'color': '', 'font-size':'36px'}"></fa-icon></button>

            <button class="btn"><fa-icon [icon]="fafacebook" [styles]="{'stroke': 'red', 'color': '', 'font-size':'36px'}"></fa-icon></button>
            <button class="btn"><fa-icon [icon]="faenvelope" [styles]="{'stroke': 'red', 'color': '', 'font-size':'36px'}"></fa-icon></button>
            <button class="btn"><fa-icon [icon]="fayoutube"  [styles]="{'stroke': 'red', 'color': '', 'font-size':'36px'}"></fa-icon></button>
            
            <button class="btn"><fa-icon [icon]="falinkedinIn" [styles]="{'stroke': 'red', 'color': '', 'font-size':'36px'}"></fa-icon></button>

            <!-- <button class="btn"><fa-icon [icon]="falinkedin" [styles]="{'stroke': 'red', 'color': ''}"></fa-icon></button> -->

        </div>

        <div class="col mx-auto"></div>
        <div class="col mx-auto">
          <!-- <img class="img-fluid img-thumbnail float-right  d-sm-block" 
          src="./assets/img/presentation/logo_corrige.jpg" style="height:auto;"alt="SN"> -->
        </div>
        
      </div>

      <div class="row">
        <div class="col mx-auto">
            
        </div>
        
      </div>
   

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a routerLink="accueil" class="text-muted"> ANAT</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->