<div class="container">
    <div class="p-2 mb-4 bg-light box-shadow-hover rounded text-justify">

        <h3 class="font-weight-bold text-center text-success rounded ">NOS REALISATIONS</h3>
        <br>
            <div class="col-lg-12 col-md-12">
                <p>Installation d’une Station GNSS permanente dénommée DAKR intégrée dans le réseau mondial des
                    stations de référence internationale IGS dans le cadre du PNG/S.</p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <img class="img-fluid rounded mx-auto" src="./assets/img/realisations/antene.png" alt="ANTENNE">
                        <p><strong>Photo 1 :</strong> Antenne IGS toit Bâtiment DTGC</p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <img class="img-fluid rounded mx-auto" src="./assets/img/realisations/controle.png" alt="CONTROLE">
                        <p><strong>Photo 2 :</strong> Salle de contrôle de la station IGS</p>
                    </div>
                </div>
            </div>

        <div id="accordion">
            <div class="card border border-0  w-75 mx-auto">
                <div class="card-body">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        GEODESIE
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <br>
                        <ol class="list-styled">
                            <li>RRS04 (réseau de référence du Sénégal 2004 en UTM WGS84 (20points)</li>
                            <li>RRS2 (réseau de référence du Sénégal 2ème ordre créé en 2008 et s’appuyant sur le 1er ordre (137 points)
                            </li>
                            <li>Réseau de nivellement urbain sur Dakar, Thiès, Louga, Kaolack, Mbour et Saly</li>
                            <li>Beaucoup Levés topographiques, travaux de géodésie et nivellement sur commande</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="card border border-0  w-75 mx-auto">
                <div class="card-body bg-basic">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                        CARTOGRAPHIE & SIG
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <ol class="list-styled">
                            <li>Cartographie du Sénégal  au 1/200 000</li>
                            <li>Nouvelle Cartographie du Sénégal  au 1/50 000 qui couvre la partie du Nord, le long du Fleuve Sénégal De Saint Louis à Bakel</li>
                            <li>Cartographie urbaine au 1/ 2000 de Dakar, Thiès, Louga, Saint Louis, Kaolack, Mbour-Saly</li>
                            <li>Base de données Urbaine au 1/2000 projet finalisé en 2013 avec 7 villes (Dakar, Thiès, Louga, Kaolack, Mbour –Saly et Saint Louis)</li>
                            <li>Base de Données Géospatiales  normalisées  au 1 /200 000, 1/50 000 et 1/ 1 000 000  du Sénégal (Base Géo) en ligne, accès gratuit</li>
                            <li>Mise à jour de la carte administrative du Sénégal selon l’Acte III de la décentralisation</li>
                            <li>Cartes topographiques régionales</li>
                            <li>Réalisations de cartes thématiques et travaux spéciaux</li>
                            <li>Organisation d’un séminaire sur le toponymie au Sénégal les 23 et 24 octobre 2014</li>
                            <li>Mise en place Plateforme  de l’Observatoire Cartographique Numérique des Inondations</li>
                            <li>Mise en place d’un SIG pour le département de Kédougou</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="card border border-0  w-75 mx-auto">
                <div class="card-body">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                        REALISATION DE LA CARTOGRAPHIE NUMERIQUE DANS LE NORD DU SENEGAL
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <div class="col-lg-12 col-md-12">
                            <p></p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid rounded mx-auto" src="./assets/img/realisations/cart_numNs1.jpg" alt="1:50000e">
                                </div>
                                <div class="col-lg-6 col-md-6">
                                <p><strong>Objectif:</strong></p> <p>Réaliser dans un délai de deux ans :
                                        Une cartographie numérique avec une base de données géo référencées précise  et dynamique à partir des images satellitaires  haute résolution;
                                        Un portail de diffusion par internet.</p>
                                        <p><strong>Financement:</strong></p> <p>Gouvernement du Japon d’un coût de 2 milliards FCFA environ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border border-0  w-75 mx-auto">
                <div class="card-body">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                       REALISATION DE BASES DE DONNEES CARTOGRAPHIQUES DANS SEPT (07) VILLES.
                    </a>
                </div>
                <div id="collapseFour" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <div class="col-lg-12 col-md-12">
                            <p><strong>Villes:</strong> Dakar et Banlieue, Diourbel, Kaolack, Louga, Mbour – Saly, Saint Louis et Thiès.</p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <p><strong>Objectif:</strong></p> <p>Elaborer des bases de données  géo référencées normalisées ainsi que des cartes 
                                        à des échelles plus précises (1/2000e) permettant de renforcer très sensiblement l’efficacité des 
                                        interventions des différents acteurs du secteur urbain, tout en autorisant une meilleure coordination 
                                        des gestionnaires de réseaux.</p>
                                        <p><strong>Financement:</strong></p> <p>Projet d’appui de l’UE au secteur de 
                                        l’assainissement d’un coût de 900 000 euros.</p>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid rounded mx-auto" src="./assets/img/realisations/rebdcarto1.jpg" alt="Kaolack">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="card border border-0  w-75 mx-auto">
                <div class="card-body">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                       REALISATION DE L'OBSERVATION CARTOGRAPHIQUE NUMERIQUE DES INONDATIONS (OCNI)
                    </a>
                </div>
                <div id="collapseFive" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <div class="col-lg-12 col-md-12">
                            <p></p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid rounded mx-auto" src="./assets/img/realisations/reaocni.jpg" alt="ocni">
                                </div>
                                <div class="col-lg-6 col-md-6">
                                <p><strong>Objectif:</strong></p> <p>Contribuer à la maîtrise de l’information territoriale par la mise en place d’un système de 
                                    base de données, axé sur les inondations, permettant son utilisation et sa diffusion notamment à travers le WEB.</p>
                                        <p><strong>Financement:</strong></p> 
                                        <p>30 000 000 FCFA du Gouvernement du Sénégal dans le cadre de la phase d’urgence du Programme décennal de lutte contre les inondations.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="card border border-0  w-75 mx-auto">
                <div class="card-body">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
                        
                        CARTES DERIVEES DE LA NOUVELLE CARTOGRAPHIE AU 1/200 000e
                    </a>
                </div>
                <div id="collapseSix" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <div class="col-lg-12 col-md-12">
                            <p></p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <p><strong>Ce programme a consisté à :</strong>
                                        <ul>
                                            <li>La réalisation de la nouvelle carte administrative du Sénégal</li>
                                            <li>L’étude pour la réalisation de la carte routière et touristique du Sénégal au 1/500 000e</li>
                                            <li>La réalisation de cartes régionales et départementales</li>
                                        </ul>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid rounded mx-auto" src="./assets/img/realisations/prodcarteder.jpg" alt="ocni">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border border-0  w-75 mx-auto">
                <div class="card-body">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseSeven">
                        PARTICIPATION AUX TRAVAUX DE LA COMISSION « COHERENCE TERRITORIALE »
                    </a>
                </div>
                <div id="collapseSeven" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <div class="col-lg-12 col-md-12">
                            <p></p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <p><strong>Participation:</strong>
                                        <p> L’Agence nationale de l’Aménagement du Territoire a eu à participer activement aux travaux de la commission 
                                        « Cohérence territoriale »  de l’Acte III de la décentralisation, chargée de réfléchir sur la réorganisation de 
                                        l’espace et l’émergence des pôles de développement.</p>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid rounded mx-auto" src="./assets/img/realisations/parttravcom.jpg" alt="ocni">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border border-0  w-75 mx-auto">
                <div class="card-body">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseHuit">
                        ELABORATION DU SCHEMA DIRECTEUR DANS LA ZONE DAKAR-THIES-MBOUR
                    </a>
                </div>
                <div id="collapseHuit" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <div class="col-lg-12 col-md-12">
                            <p></p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <p>Elaboration du schéma directeur d’aménagement et de développement territorial de la zone Dakar – Thiès – Mbour.</p>

                                    <strong>Objectif:</strong> <p>Etablir une vision d’ensemble du devenir du triangle 
                                        et de concevoir les priorités stratégiques et les options d’aménagement et de développement 
                                        les plus pertinents face aux enjeux démographiques, socioéconomiques et culturels.</p>
                        
                                        <strong>Financement:</strong> <p>70 OOO OOO FCFA du Gouvernement du Sénégal 
                                        dans le cadre du Plan décennal de lutte contre les inondations.</p>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid rounded mx-auto" src="./assets/img/realisations/elabschemdir1.jpg" alt="ocni">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border border-0  w-75 mx-auto">
                <div class="card-body">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseNeuf">
                        PROJET PILOTE DE CREATION D'UNE ZIAR
                    </a>
                </div>
                <div id="collapseNeuf" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <div class="col-lg-12 col-md-12">
                            <p></p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <p>Projet pilote de création d’une zone industrielle et artisanale spécialisée (ZIAR) en peaux et cuirs à Touba.</p>

                                    <p>Collaboration entre l’ANAT et le PNDL pour la mise en place d’’un Programme d’impulsion et d’appui aux projets de territoire
                                    </p><strong>Objectif:</strong> <p>Favoriser l’émergence de projets structurants
                                    centrés autour de la valorisation des ressources et potentialités des territoires.</p>
                                <p><strong>NB:</strong> La création d’une zone industrielle et artisanale à Touba pour la valorisation des peaux et cuirs est un projet pilote en prélude du déploiement du programme à l’échelle nationale. 
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <img class="img-fluid rounded mx-auto" src="./assets/img/realisations/elabschemdir1.jpg" alt="ocni">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>



    </div>
</div>